@media only screen and (min-width:968px),screen and (max-height:400px) {
 

.doll{
  overflow-y:auto;
  display: flex;
  flex-direction: column;
   
 
  max-height:100vh; 
}
  
}


@media only screen and (min-width: 768px) {

  .doll{
    overflow-y:auto;
    display: flex;
    flex-direction: column;
    max-height:100vh; 
  }
}
.card-content-box {
  justify-content: center;
  align-items: center;
}

.card{

  min-height: 220px; /* Allows flexibility */
  max-height: fit-content; 
  box-shadow:1px 1px 5px #000000; 
 
}


.card .lead{

  font-size: 1rem;
  font-weight: bold;
}
.text-muted{
  font-size: 0.83rem;
  font-weight: bold;
}


